# ................ General Python Dependencies
ipython
python-dotenv   # Environment variables
ipykernel       # Jupyter Notebooks
uv              # MCP Server

## Data manipulation and visualization
matplotlib==3.10.3  # For creating visualizations
numpy==2.3.1        # For numerical computations
pandas              # For data manipulation and analysis

# ................ Azure AI SDK Dependencies
azure-identity                  # For Azure authentication
azure-search-documents==11.5.3  # For Azure AI Search
azure-ai-evaluation             # For model evaluation
azure-mgmt-cognitiveservices    # For model deployment
agent-framework                 # For building AI agents    

## ............... Azure OpenAI Dependencies
openai 
requests 
tiktoken 

## ............... Tracing Lab Dependencies
opentelemetry-instrumentation-openai-agents-v2
langchain-azure-ai
#openai 
openai-agents 
rich 
azure-monitor-opentelemetry-exporter
#python-dotenv
azure-monitor-opentelemetry # --- For Langchain